/* Estilos para las fuentes */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body,
select,
input,
button,
label {
    /* Fuente */
    font-family: 'Roboto', 'Arial Nova', 'Arial', sans-serif;
}

h1, th, .jsonTable > tbody > tr > td:first-child {
    font-family: 'Roboto Slab', 'Source Serif Pro', 'Noto Serif', 'Cambria', 'Liberation Serif', serif;
}

.mono {
    font-family: 'Roboto Mono', 'Cascadia Mono', 'Consolas', 'Courier New', monospace;
    font-size: smaller;
}