/* Estilos generales */

html,
body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#mainBox {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#upperDiv {
    /* Para que la barra superior abarque todo el ancho */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    flex-wrap: wrap;
    background-color: lightblue;
    height: 100px;
    text-align: center;
}

.expandDiv {
    flex: 1 1 auto;
    overflow-y: auto;
}

iframe {
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    margin: 10px;
    border: none;
}

#upperDiv > a {
    padding: 5px;
    flex: auto;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

#upperDiv > a, #upperDiv > select {
    margin: auto;
    font-family: 'Roboto Slab';
    font-size: 115%;
}

#upperDiv > select {
    height: max-content;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-weight: bold;
    margin: auto 5px;
}

option, optgroup {
    font-size: initial;
    font-weight: initial;
}

.adminOnly {
    display: none;
}