<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adminText.js') }}"></script>
</head>

<body>
    <div id="mainBox">
        <div id="upperDiv">
            <!-- noParameters = no se le pide al usuario que digite nada -->
            <!-- fullPage = recarga toda la ventana -->
            <a href="/logout"">Cerrar sesión</a>
        </div>
        <div class="expandDiv">
            <iframe src="/sub/user_properties.html" id="contenedor"></iframe>
        </div>
    </div>
</body>

</html>