<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Visualizador de artículos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div id="mainBox">
        <div id="upperDiv">
        </div>
        <div class="expandDiv">
            <iframe src="/sub/user_properties.html"></iframe>
        </div>
    </div>
</body>

</html>